.project_content {
    padding: 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project_img {
    border-radius: 0.5rem;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.project_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.project_buttons {
    display:flex;
    justify-content: center;
}

.project_buttons a {
    font: 13px Arial;  
    color: black;
}

@media screen and (max-width: 1024px) {
    .project_content {
        grid-template-columns: 1fr;
    }
}