.about_container {
    margin-top: 10rem;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
}

.about_text {
    width: 50%;
    margin: 0 auto;
}

.about_btns {
    display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.about_btn {
    margin-top: 1rem;
    color: black;
    font-size: 13px;
    font-family: Arial;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
}

.socials > * {
    text-decoration: none;
    color: #550A35;
}

.skills {
    margin:1rem;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
}

.skills > * {
    font-size: 2rem;
    color: lightblue
}