.navbar {
    background: black;
    color:var(--color-white);
}

.nav-main {
    display: flex;
    position: relative;
    justify-content: space-between;    
    align-items: center;
    padding:0.4rem;
}

a {
    text-decoration: none;
}

.navbar .name {
    margin: 1rem;
}

.navbar h2 {
    font-size: 2rem;
}

.navbar span {
    color: var(--color-grey);
    font-weight: 300;
}

.links {
    height:100%;
}

.links ul {
    padding: 0;
    display:flex;
    list-style: none;

}

.links li a {
    display: block;
    padding:1rem;
}

.links li a:visited {
    color: var(--color-white);
}

.links li:hover {
    background: #555;
}

.hidden-links {
    display:none;
}

.hidden-links ul{
    display:flex;
    flex-direction: column;
    list-style: none;
}

.hidden-links li{
    text-align: center;
    padding:0.5rem;
}

.hidden-links li:hover{
    background: #555;
}

.hidden-links a:visited {
    color:var(--color-white);
}



.hamburger-container {
    display:none;
    margin: 1rem;
}

@media screen and (max-width: 1300px) {
    .links {
        display:none;
    }
    .hamburger-container , .hidden-links {
        display: block;
    }
}

